#include "windows.h"
#include "resource.h"

1           ICON         "flavisa.ico"

IDD_DLG_DIALOG DIALOGEX 0, 0, 178, 92
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_MINIMIZEBOX | 
    WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "Not Much Here"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Done",IDOK,63,35,50,16
END

IDC_DIALOG ACCELERATORS 
BEGIN
END
