menu#tinymenu[mode='image'] {
	background-position: center;
	background-repeat: no-repeat;

	/* Fix for #24 */
	-moz-appearance: none !important;
}
menu#tinymenu[mode='image'] > label {
	visibility: hidden;
}
